@import url('../../styles/base.scss');

header {
    background: #333;
    nav {
        max-width: 1248px;
        margin: auto;
        ul {
            display: flex;
            gap: 5px;
            a {
                color: white;
                text-decoration: none;
                display: block;
                &:hover {
                    cursor: pointer;
                    color: black;
                    background-color: wheat;
                }
                padding: 10px;
            }
        }
    }
}